/* Add CSS Styling */

.main-container{
    font-size: 28px;
    font: Helvetica, "Times New Roman", sans-serif;
}

#First-Button{
    background-color: black;
    color:white;

}
#Second-Button{
    background-color: yellow;
}