body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;

}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 16px;
  
}

.content {
  background: #e3f4ff;
  padding: 20px 5px 20px 5px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 10px;
  padding: 8px;
}

button {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px 10px 20px;
}